/* start variable */
:root {
    --main-color: #10cab7;
    --secondary-color: #2c4755;
    --section-padding: 60px;
}
/* end variable */

/* global rules */
* {
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
body {font-family:"work-sans", sans-serif;
    font-family: 'Work Sans';
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* end global rules */
/* start componens */
.special-heading {
    font-size: 100px;
    color: #ddd;
    letter-spacing: -3px;
    text-align: center;
    font-weight: 800;
    margin: 0;
}
.special-heading + p {
    text-align: center;
    color: #555;
    margin: -30px 0 0;
    font-size: 16px;
}
.grid-3 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
/* end componens */
/* media -------------------------------------------------------------------------- */
@media (max-width:767px) {
    .special-heading {
        font-size: 60px;
    }
    .special-heading + p {
        margin-top: -20px;
    }
    .services .services-content .srv {
        flex-direction: column;
        text-align: center;
    }
}
@media (min-width: 0px) and (max-width: 1199px) {
    .services .services-content .image {
        display: none;
    }
}
@media (max-width: 991px) {
    .about .about-content .image::before,
    .about .about-content .image::after {
        display: none;
    }
    .about .about-content {
        flex-direction: column;
        text-align: center;
    }
    .about .about-content .image {
        margin: 0 auto;
    }
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* medium screen */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* larg screen */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* media -------------------------------------------------------------------------- */
html {scroll-behavior: smooth;}

header { padding: 20px 20px 0 20px;}

header .container {display: flex;justify-content: space-between;}

header .container i {font-size: 30px;color: green;}

header .links {position: relative;}

header .links:hover .icon span:nth-child(2){width: 100%;}

header .links .icon {
    display: flex;
    flex-wrap: wrap;
    width: 30px;
    justify-content: flex-end;
}
header .container .links .icon span {
    height: 2px;
    background-color: black;
    margin-top: 5px;
}
header .links .icon span:first-child {width: 100%;}

header .links .icon span:nth-child(2) {width: 60%;transition: 0.3s;}

header .links .icon span:last-child {width: 100%;}

header .links ul {  
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 38px;
    min-width: 200px;
    background-color: #f6f6f6;
    display: none; 
    z-index: 1; 
}
header .links ul::before {   
    content: " "; 
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    right: 5px;
    top: -20px;
}
header .links:hover ul{display: block;}

header .links ul li {padding: 15px;}

header .links ul li:not(:last-child) {border-bottom: 1px solid #ddd;}

header .links ul li a {
    text-decoration: none;
    color:#333;
    transition: 0.3s;
}
header .links ul li a:hover {padding-left: 20px;}

.landing {
    position: relative;
    background-image: url("../media/mountain.jpg");
    background-size: cover;
    height: calc(100vh + 64px);
}
.landing .intro-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 320px;
    max-width: 100%;
}
.landing .intro-text h1 {
    font-size: 50px;
    color: var(--main-color);
    margin: 0;
}
.landing .intro-text p {
    line-height: 1.7;
    font-weight: bold;
    font-size: 19px;
    color: #555;
}
.features {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: #f6f6f6;
}
.features .container {grid-gap: 20px;}

.features .feat {text-align: center;}

.features .feat i {color: var(--main-color);}

.features .feat h3 {color: var(--main-color);font-weight: 800;}

.features .feat p {
    color: #777;
    line-height: 1.8;
    font-size: 17px;
}
.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.services .services-content {grid-gap: 30px;margin-top: 100px;}

.services .services-content .srv {display: flex;margin-bottom: 40px;}

.services .services-content .srv i {
    color: var(--main-color);
    flex-basis: 60px;
    font-size: 30px;
    
}
.services .services-content .srv .text{flex: 1;}

.services .services-content .srv .text h3{margin-top: 0;}

.services .services-content .srv .text p{color: #555;line-height: 1.8;}

.services .services-content .image {
    position: relative;
    width: 300px;
    height: 400px;
    background-image: url("../media/mountain.jpg");
    background-size: cover;
}
.services .services-content .image::before {
    position: absolute;
    z-index: -1;
    content: " ";
    right: -30px;
    top: -30px;
    width: 260px;
    height: calc(100% + 60px);
    background-color: var(--secondary-color);
}
.portofolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color:#f6f6f6;
}
.portofolio .portofolio-content {grid-gap: 30px;margin-top: 80px;}

.portofolio .portofolio-content .card {
    background-color: white;
    border-radius: 7px;
    box-shadow: 0px 1px 1px #ddd;
}
.portofolio .portofolio-content .card .info {padding: 20px;}

.portofolio .portofolio-content .card img {max-width: 100%;}

.portofolio .portofolio-content .card h3 {margin: 0;color: #333;}

.portofolio .portofolio-content .card p {
    line-height: 1.6;
    color: #666;
    margin-bottom: 0;
}
.about {
    padding-top: var(--section-padding);
    padding-bottom: calc(var(--section-padding) + 60px);
}
.about .about-content {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    flex-wrap: wrap;
}
.about .about-content .image {
    width:350px;
    height: 400px;
    position: relative;
}
.about .about-content .image img {width: 100%;height: 100%;}

.about .about-content .image::before {
    content: " ";
    left: -60px;
    top: -40px;
    width: 100px;
    height: calc( 100% + 80px);
    background-color: #ddd;
    position: absolute;
    z-index: -1;
}
.about .about-content .image::after {
    content: " ";
    position: absolute;
    width: 100px;
    height: 70%;
    right: -130px;
    top: -30px;
    border-left: 150px solid var(--main-color);
    border-bottom: 90px solid var(--main-color);
    z-index: -1;

}
.about .about-content .text { 
    flex-basis: calc(100% - 500px);
    line-height: 2;
    margin-top: 25px;
}
.about .about-content .text p:first-of-type {font-weight: bold;}

.about .about-content hr {
    width: 50%;
    display: inline-block;
    border-color: var(--main-color)
}
.about .about-content .text p:last-of-type {color: #777;}

.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: #f6f6f6;
}
.contact .info {text-align: center;padding-top: 40px;}

.contact .info .label {
    font-size: 35px;
    color: var(--secondary-color);
    font-weight: 800;
    margin-bottom: 10px;
}
.contact .info a {
    font-size: 30px;
    color: var(--main-color);
    margin-top: 0;
    padding: 0 20px;
    text-decoration: none;
}
.contact .info .social {color: #777;}

.contact .info .social i {font-size: 20px;color: var(--secondary-color);}

.footer {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--secondary-color);
    color: white;
    text-align: center;
    font-size: 18px;
}
.footer span {color: var(--main-color);}